@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #fdf0e9;
  --primary-text-color: #391400;
  --secondary-background: #28293e;
  --secondary-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  /* color: var(--secondary-text-color); */
}

body {
  padding: 0;
  margin: 0;
}

.primary-wrapper {
  background-color: var(--primary-background);
}

.primary-wrapper * {
  color: var(--primary-text-color);
}

.secondary-wrapper {
  background-color: var(--secondary-background);
}

.secondary-wrapper * {
  color: var(--secondary-text-color);
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 2rem;
  margin: auto;
}

@media screen and (width < 1024px) {
  .container {
    padding: 0 1rem;
  }
}
