@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-background: #28293e;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 2rem;
  margin: auto;
}

@media screen and (width < 1024px) {
  .container {
    padding: 0 1rem;
  }
}
