@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #fdf0e9;
  --primary-text-color: #391400;
  --secondary-background: #28293e;
  --secondary-text-color: #ffffff;
  --main-color: #ef6d58;
  --main-border-color: #f3d1bf;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.primary-wrapper {
  background-color: var(--primary-background);
}

.primary-wrapper * {
  color: var(--primary-text-color);
}

.secondary-wrapper {
  background-color: var(--secondary-background);
}

.secondary-wrapper * {
  color: var(--secondary-text-color);
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 2rem;
  margin: auto;
}

@media screen and (width < 1024px) {
  .container {
    padding: 0 1rem;
  }
}

.h1 {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.125rem;
  line-height: 5rem;
}

.h2 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.0625rem;
  line-height: 4rem;
}

.h3 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3rem;
}

.h4 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
}

.h5 {
  color: #ef6d58;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1875rem;
  line-height: 2rem;
}

.label {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.big_text {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}

.text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.small_text {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.gray_text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.64);
}
